body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 1em 0;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

main {
    padding: 2em;
}

section {
    margin-bottom: 2em;
}

h1, h2 {
    color: #070707;
}

footer {
    text-align: center;
    padding: 1em 0;
    background-color: #0d0d0d;
    color: #fff;
    position: fixed;
    width: 100%;
    bottom: 0;
}